/.env
/.idea/dataSources/7795f313-7f8b-484c-8397-a242eb5bfa6a/storage_v2/_src_/schema/main.uQUzAA.meta
/.idea/dataSources/7795f313-7f8b-484c-8397-a242eb5bfa6a.xml
/.idea/dataSources.local.xml
**/.idea/**
